body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  height: 100px;
  width: 300px;
  }
  
#inputPage, #visualizationPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#arrayInput {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#visualizeButton {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

#visualizationPage {
  display: none;
  position: relative;
}
  
#treeContainer {
  position: relative;
  width: 90vw;
  height: 80vh;
  overflow: auto;
  margin-top: 40px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  min-width: 300px;
}

.tree-node {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  z-index: 10;
}
  
#backButton {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.tree-line {
  position: absolute;
  background-color: #000;
  transform-origin: top left;
  z-index: 1;
}